<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>日記ページ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body class="task-body">
    <div class="link-area">
      <a th:href="@{'/' + ${username} + '/task-top'}">TOPへ</a>
      <a th:href="@{'/' + ${username} + '/task-top/diary-box'}">一覧へ戻る</a>
    </div>

    <div class="diary-title">
      <input
        type="text"
        id="diary-title-input"
        th:value="${record != null ? record.content : ''}" />
    </div>

    <div class="page-container">
      <textarea
        id="diary-page-content"
        th:text="${record.detail}"></textarea>
    </div>

    <script th:src="@{/js/diary-page.js}"></script>
    <script th:inline="javascript">
      const recordId = [[${record.id}]];
      const recordDate = '[[${record.recordDate}]]';
    </script>
  </body>
</html>
