<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>夢ボックス</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body class="task-body">
    <div class="link-area">
      <a th:href="@{'/' + ${username} + '/task-top'}">TOPへ</a>
    </div>

    <div class="database-container">
      <table class="dream-database">
        <tr>
          <th>削除</th>
          <th>夢</th>
          <th>ページ</th>
        </tr>
        <tr th:each="dream : ${dreamRecords}" th:data-id="${dream.id}">
          <td><input type="button" value="削除" class="dream-delete-button" /></td>
          <td><input type="text" th:value="${dream.dream}" class="dream-input" /></td>
          <td><input type="text" th:value="${dream.page}" class="page-input" /></td>
        </tr>
      </table>
      <button id="new-dream-button">新規夢</button>
    </div>

    <script th:src="@{/js/dream.js}"></script>
  </body>
</html>
