<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	
	
	<div class="login">
		
                <p><b>ログイン画面</b></p>
                <p th:text="${errorMessage}" th:if="${errorMessage}" class="error-msg"></p>

                <form th:action="@{/task-top}" method="POST">
                        <input type="text" name="username" placeholder="ユーザー名">
                        <input type="password" name="password" placeholder="パスワード">
                        <button type="submit">ログイン</button>
                </form>
		
		
		<form th:action="@{/new-regist}" method="GET">
			<button type="submit">新規登録</button>
		</form>
	</div>

</body>
</html>
